/* Style Page 1 */
body {
  overflow: hidden;
}

#fullpage {
  height: 100vh;
}

#fullpage .section {
  height: 100vh;
  padding: 0;
}

@font-face {
    font-family: Beauty;
    src: url("../fonts/Beauty.ttf");
}

.navbar {
  /* background-color: orange; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* NAVBAR */
.navbar-nav{
  font-family: Beauty;
  font-weight: bold;
  color: black;
  font-size: 1.8vw;
  margin-right: 4vw;
}







/* BEGINING FOOTER CSS */

footer {
  border-top: solid 5px yellow;
  /* background-color: orange; */
}

#myFooter {

}

.footer-copyright {
  border-top: solid 1px yellow;
}
/* END FOOTER */






/* STICKY */
/* .sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
} */

/* END STICKY */

/* Backgrounds will cover all the section */

.section-0-img .section-1-img .section-2-img .section-3-img {
  width: 100%;
  height: 100vh;
}

.section-0-img img {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.section-1-img img {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.section-2-img img {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.section-3-img img {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

#section0 {
  display: table;
  width: 100%;
  height: 100vh;
	/* background: linear-gradient(rgba(255, 230, 6, 0.5),rgba(198, 180, 18, 0.5)); */
}

#section1 {
  display: table;
  width: 100%;
  height: 100vh;
	/* background: linear-gradient(rgba(228, 219, 9, 0.5),rgba(204, 228, 9, 0.5)); */
}

#section2 {
  display: table;
  width: 100%;
  height: 100vh;
	/* background: linear-gradient(rgba(204, 228, 9, 0.5),rgba(165, 228, 9, 0.5)); */
}

#section3 {
  display: table;
  width: 100%;
  height: 100vh;
	/* background: linear-gradient(rgba(165, 228, 9, 0.5), rgba(46, 228, 9, 0.5)); */
}

.noir {
  color: black;
}

.crossed-over {
  text-decoration: line-through;

}

h2 {
  font-size: 80px;
  color: Yellow;
  vertical-align: middle;
  font-family: Beauty;

}

.text-div {
  position: relative;
  text-align: center;
  word-wrap: normal;
  font-size: 10vh;
  vertical-align: middle;
}


.child-1 {
  text-decoration: line-through;
  font-size: 15vh;
  display: table-cell;
  vertical-align: middle;
}

.child-2 {
  display: table-cell;
  vertical-align: middle;
}


/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: yellow;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


/* .footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
	margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */
/*
@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
} */

/* #fullpage .section:nth-child(1){
}
#fullpage .section:nth-child(2){
  background-color: rgb(242, 255, 0);
}
#fullpage .section:nth-child(3){
  background-color: rgb(74, 255, 0);
}
#fullpage .section:nth-child(4){
  background-color: rgb(19, 29, 154);
}
#fullpage .section:nth-child(5){
  background-color: rgb(242, 0, 255);
} */
