/* START OF GENERAL STYLE Page 1 */

@font-face {
    font-family: Beauty;
    src: url("../fonts/Beauty.ttf");
}

@font-face {
    font-family: Prototype;
    src: url("../fonts/Prototype.ttf");
}

html{
  height: 100%;
}

body{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}

h2 {
  font-size: 80px;
  color: Yellow;
  vertical-align: middle;
  font-family: Beauty;
  text-shadow:0px 0px 0.25em black;
}

section span {
  font-size: 3vw;
  text-shadow:0px 0px 0.25em black;
}

/* END OF GENERAL STYLE Page 1 */
