/* Style Page 1 */
body {
  overflow: hidden;
}

#fullpage {
  height: 100vh;
}

#fullpage .section {
  height: 100vh;
  padding: 0;
}

/* Backgrounds will cover all the section */

.fp-tableCell {
  padding: 0;
}


.navbar-item {
  color: black;
}

.navbar {
  background: linear-gradient(rgba(255, 255, 255, 1) ,rgba(255, 255, 255, 0));
}

.fp-slidesNav ul {
  text-align: center;
  color: yellow;
}


.section-0-img .section-1-img .section-2-img .section-3-img {
  width: 100%;
  height: 100vh;
}

.section-0-img img {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.section-1-img img {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.section-2-img img {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.section-3-img img {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

#section0 {
  display: table;
  width: 100%;
  height: 100vh;
	/* background: linear-gradient(rgba(255, 230, 6, 0.5),rgba(198, 180, 18, 0.5)); */
}

#section1 {
  display: table;
  width: 100%;
  height: 100vh;
	/* background: linear-gradient(rgba(228, 219, 9, 0.5),rgba(204, 228, 9, 0.5)); */
}

#section2 {
  display: table;
  width: 100%;
  height: 100vh;
	/* background: linear-gradient(rgba(204, 228, 9, 0.5),rgba(165, 228, 9, 0.5)); */
}

#section3 {
  display: table;
  width: 100%;
  height: 100vh;
	/* background: linear-gradient(rgba(165, 228, 9, 0.5), rgba(46, 228, 9, 0.5)); */
}

h2 {
  color: white;
  vertical-align: middle;
}

.text-div {
  position: relative;
  text-align: center;
  word-wrap: normal;
  font-size: 10vh;
  vertical-align: middle;
}


.child-1 {
  text-decoration: line-through;
  font-size: 15vh;
  display: table-cell;
  vertical-align: middle;
}

.child-2 {
  display: table-cell;
  vertical-align: middle;
}

/* #fullpage .section:nth-child(1){
}
#fullpage .section:nth-child(2){
  background-color: rgb(242, 255, 0);
}
#fullpage .section:nth-child(3){
  background-color: rgb(74, 255, 0);
}
#fullpage .section:nth-child(4){
  background-color: rgb(19, 29, 154);
}
#fullpage .section:nth-child(5){
  background-color: rgb(242, 0, 255);
} */
