/* GENERAL */
body{
  background: linear-gradient(black,darkred);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* background-image: url("../images/black_background.jpg"); */
}

@font-face {
    font-family: Beauty;
    src: url("../fonts/Beauty.ttf");
}

@font-face {
    font-family: Prototype;
    src: url("../fonts/Prototype.ttf");
}

h1{
  position: relative;
  text-align: center;
  font-family: Beauty;
  margin-top: 20vw;
  font-size: 8vw;
  color: yellow;
}

h2 {
  font-size: 80px;
  color: Yellow;
  vertical-align: middle;
  font-family: Beauty;
  text-shadow:0px 0px 0.25em black;
}

/* DEFINITION DES DIMENSIONS DES ROWS ET DE L'ESPACEMENT AVANT/APRES */
.row{
  height: 30vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
  font-family: Beauty;
}

/* TAILLE DES 2 DIVS CONTENUES DANS CHAQUE ROW */
/*DIV DE L'IMAGE*/
.divgif{
  height: 30vw;
  text-align: center;
}
/*DIV DU TEXTE*/
.divtext{
  height: 30vw;
  text-align: center;
}

/* DIMENSION ET POSITION DU PARAGRAPHE DE TEXTE DE DESCRIPTION DU GIF */
.gifdescription{
  font-family: Beauty;
  font-size: 3vw;
  margin-top:5vw;
  margin-bottom:5vw;
  color: white;
}


/* TAILLE ET POSITION DU GIF DANS SA DIV */
.gif{
  height:25vw;
  max-width:40vw;
  border-radius: 5vw;
  border-style:double;
  border-color:black;
  border-width:0.7vw;
  border-radius:5vw;
  -webkit-box-shadow: 0px 0px 20px yellow;
  -moz-box-shadow: 0px 0px 20px yellow;
}

/*ASCENSEUR TROP BIEN */
.sweet-svg{
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius: 1vw;
}

#backtotop{
  text-align: center;
  font-size:2vw;
  font-family: Beauty;
  color: yellow;
}

path{
  fill: white /*changer la couleurs des traits de l'ascenseur */
}

 .elevator{
   /* background-color: darkred; */
  /* background-image: url("../images/black_background.jpg"); */
}

  /*changement du curseur sur l'ascenseur */
.sweet-svg:hover {
  cursor:pointer;
  -webkit-box-shadow: 0px 0px 20px yellow;
  -moz-box-shadow: 0px 0px 20px yellow;
}



/****POUR MEMOIRE****/

/* Float Shadow */
/* .hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 191, 0, 0.9) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(255, 191, 0, 0.9) 0%, transparent 80%);
  /* W3C */
  /* -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
/* } */
/* .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px); */
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
/* } */


/* Sweep To Bottom */
/* .hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;

  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e7b915;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: solid 5px yellow;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
} */


/* Underline Reveal */
/* .hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: yellow;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
} */
