/* Style Page Description */

/* GENERAL */

body {
  overflow: hidden;
}

@font-face {
    font-family: Beauty;
    src: url("../fonts/Beauty.ttf");
}

@font-face {
    font-family: Prototype;
    src: url("../fonts/Prototype.ttf");
}

.content-info {
  position: relative;
}

h2 {
  font-size: 80px;
  color: Yellow;
  vertical-align: middle;
  font-family: Beauty;
  text-shadow:0px 0px 0.25em black;
}

.materialdescription {
  position: relative;
  z-index: 4;
  color: black;
  font-family: cursive;
  font-weight: bold;
  font-size: 2vw;
}

.text-div {
  text-align: center;
  word-wrap: normal;
  font-size: 10vh;
  vertical-align: middle;
}







/* PEOPLE THUMBMAIL */

.thumbnail {
  color: white;
  /* background-image: url('../images/wood.jpeg'); */
  border-radius: 10px;
  border-bottom: solid 5px yellow;
  margin-top: 100px;
}

.thumbnail img {
  margin: 10px 0 10px 10px;
  margin-right: 0;
  height:200px;
  width:200px;
  border-bottom: solid 5px yellow;
  border-radius: 10px;
}

.thumbnail h3,p {
  text-align: center;
}

.thumbnail img.chair{
  margin: 10px 0px 10px 10px;
  margin-top: 10px;
  margin-right: 0;
  height:400px;
  width:400px;
  border-bottom: solid 5px yellow;
  border-radius: 10px;
}




/* FULLPAGE.JS */

#fullpage {
  height: 100vh;

}

#fullpage .section {
  padding: 0;
}

.wrapper img {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.content-info {
  object-fit: cover;
}

.box {
  /* top right bottom left */
  height: 50vh;
  margin: 30vh 20vh 30vh 20vh;
  background-color: rgba(255,255,255,0.8);
}

.box article {
  height: 100%;
}

.column .people {
  height: 100%;
}

#section0 {
  display: table;
  width: 100%;
  height: 100vh;
	/* background: linear-gradient(rgba(255, 230, 6, 0.5),rgba(198, 180, 18, 0.5)); */
}

#section1 {
  display: table;
  width: 100%;
  height: 100vh;
	/* background: linear-gradient(rgba(228, 219, 9, 0.5),rgba(204, 228, 9, 0.5)); */
}

#section2 {
  display: table;
  width: 100%;
  height: 100vh;
	/* background: linear-gradient(rgba(204, 228, 9, 0.5),rgba(165, 228, 9, 0.5)); */
}

#section3 {
  display: table;
  width: 100%;
  height: 100vh;
	/* background: linear-gradient(rgba(165, 228, 9, 0.5), rgba(46, 228, 9, 0.5)); */
}

#last_section {
  background: linear-gradient(darkred,black);
}

.child-1 {
  font-size: 15vh;
  display: table-cell;
  vertical-align: middle;
}

.child-2 {
  display: table-cell;
  vertical-align: middle;
}






/* Pour mémoire */

/* Float Shadow */
/* .hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 191, 0, 0.9) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(255, 191, 0, 0.9) 0%, transparent 80%);
  /* W3C */
  /* -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
} */
/* .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
/* } */
/* .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);   */
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
/* } */






/* Fixed header */
/*
#header {
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  background: rgb(230, 230, 230);
  z-index: 9;
  text-align: center;
  padding: 20px 0 0 0;
} */




/* Underline Reveal */
/*
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: yellow;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}




/* Sweep To Bottom */
/* .hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;

  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e7b915;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: solid 5px yellow;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
} */



/***** MEDIA OBJECT: TEMOIGNAGE CSS ******/
@media only screen and (max-width: 600px) {
  .media {
    font-size: 10px;
  }
}

.media {

  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 7px;
  padding-left: 7px;

}

.temoignage-container {
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}

.media-object img {
  padding: 0;
  display: block;

}

.media-left {
  position: relative;
  background-color: yellow;
  border: solid orange 2px;
  border-radius: 70px;
  padding-right: 0;
}

.media-right {
  position: relative;
  background-color: yellow;
  border: solid orange 2px;
  border-radius: 60px;
  padding-left: 0;
}


.media-left img {
  border-radius: 60px;
  height: 160px;
  width:160px;
  object-fit: cover;
  padding: 3vh 2vw 3vh 2vh;

}
.media-right img {
  border-radius: 60px;
  height: 160px;\
  width: 160px;
  object-fit: cover;
  padding: 3vh 2vw 3vh 2vh;
}

.row {
  width: 100%;
}

.media-body {
  position: relative;
  font-family: cursive;
  object-fit: cover;
  border-bottom: 3px solid yellow;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.media-body h4 {
  font-weight: bold;
}

.center-text {
  padding: 3vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

 h1 {
   position: relative;
  text-align: center;
  font-family: cursive;
  padding: 20px;
}

.big-quote {
  font-size: ;
  color: Yellow;
  letter-spacing: 5px;
  font-family: fantasy;
}

.lighter-text {
  font-weight: lighter;
  font-style: italic;
  color: grey;
}

.center-text p::first-letter {
  font-size: 200%;
}
/*********END TEMOIGNAGE ************/
